body{
    background-color: aliceblue;
}
.main{
    padding: 10px;
    /* border: 2px solid black; */
    
}

.head{
    /* border: 2px solid black; */
    margin-bottom: 15px;
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    color: cornflowerblue;
}
.form{
    display: flex;
    flex-direction: column;
    padding:5px;
    /* border: 2px solid black; */
}
.a1,.a2,.a3,.a4,.a4,.a5,.a6,.a7,.a8,.a9{
    margin-top: 20px;
    padding: 20px;
    font-size: large;
    text-align: center;
}
.res{
    border: 2px solid black;
    margin-top: 15px;
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    color: red;
}
.btn{
    margin-top: 20px;
    padding: 20px;
    font-size: x-large;
    background-color: darkgrey;
}